.card {

    display:flex;
    justify-content: space-between;
    flex-direction: column;
    height: 550px;
    width: 300px;
    border: 3px solid ;
    border-radius:6px;
    overflow: hidden;
    background-color:mediumpurple;
    position: relative;
    margin-right: 60px;
    border: solid 8px white;
    padding: 20px;
}

h2{
  margin: 0;
}

  .pestana {
    position:relative;
    height: 500px;
    width: 400px;
    margin: 50px;
    
    
  }

  .nombre {
    transform: rotate(90deg);
    width: 400px;
    position: absolute;
    top: 180px;
    left: 147px;
    z-index: -1;
    font-size: 25px;
    height: 40px;
    background-color: white;
    text-align: center;
    margin-left: 25px;
    box-shadow: 2px 2px 10px;
    clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
  .contenedorimg{
    width: 100%;
    height: 400px;
    
  }

  .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;  
  }
  
  .contenedordatos {
  padding: 10px;
  background-color: white;
  text-align: center;
  color: black;
  margin-top: 20px;
  border-radius: 10px;
  }

  .datos{
    padding: 10px;
    border: solid 2px red;
    border-radius: 10px;
  }
  
  .card p {
    margin-top: 10px;
    font-size: 16px;
    color: black;
  }


  .buttontrash{

    border: solid 2px transparent; padding: 10px 20px;
    border-radius: 8px;
    margin-bottom: 8px;
    background: transparent;
    position: absolute;
    top: -2px;
    left: -14px;
    z-index: 2;
    cursor: pointer;
    color: black;
    
  }

  .buttontrash:hover{
    color: red;
  }

  .info {
  position: absolute;
  top: 30px;
  left: 356px;
  z-index: 2;      
  background: red;
  padding: 2px 3px;
  border: transparent;
  cursor: pointer;
  color: white;
  border-radius: 50%;
  }

  .info:hover{
    color: black;
  }

  .agregarFav{
    color: red;
  }

  .quitarFav{
    color:black;
    cursor: pointer;
  }