
  @import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Ysabeau+SC:wght@200;400;600&display=swap');
/* font-family: 'Caprasimo', cursive;
font-family: 'Ysabeau SC', sans-serif; */
body {
  margin: 0;
  font-family: 'Ysabeau SC', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   
  }

input {
  border-radius: 8px;
}

button {
  border-radius: 8px;
  background-color: rgb(11, 164, 175);
  color: white;
  display: inline-flexbox;
  cursor: pointer;
}
